<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>
          <title>Noticia</title>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
    <div id="root" class="root"> 
    <header>
    <p id="editorial">ZakaNoticias.es</p>
    </header>
    <main>
    <center>
    <img id="medico" src="https://www.esic.edu/sites/default/files/rethink/ee194648-healthcare-digital-marketing.jpg">
    <p id="fecha">2/12/2015</p>
    <p id="titulo">¿Los Dientes Ayudan A Evitar Los problemas del corazón?</p>
    <p id="entradilla">Este estudio, realizado en Corea, afirmó que el lavarse los dientes evita un 45% menos los "ataques" al corazón.</p>
    <p id="subtitulo">Zakaria El Moussaoui El Allouchi|</p>
    <span class="subtitulo">ZakaNoticias.es</span>
    <p id="cuerpo">
    Si. Efectivamente. Una mala higiene bucal puede llevar a que las bacterias entren en la sangre, causando inflamación en el cuerpo.</p>
    <p id="cuerpo2">
    La inflamación aumenta los riesgos de fibrilación auricular insuficiencia cardíaca (se altera la capacidad del corazón para bombear sangre o relajarse
    </p>
    <p id="cuerpo3">
    y llenarse de sangre). Lo cual llevaría a una muerte asegurada.
    </p>
    </center>
    <footer>
     <p id="derechos">miilaa.github.io | Todos los derechos reservados.</p>
     <a id="link-pagina-principal" href="https://miilaa.github.io">Página Principal | Español - Internacional(es)</a>
     <a id="link-github" href="https://github.com/miilaa/miilaa.github.io">https://github.com/miilaa</a>
    </footer>
    </main>
  </div>
</body>
<div>
<style>
*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          top: 7vh;
         }   
         .root, body, html{
             display: flex;
             flex-direction: column;
             height: 100%;
             position: relative;
             width: 100%;
            background-color: #000000;
         }
 header{
 height: 7.5vh;
 width:  1358px;
 position: absolute;
 top: -21.3%;
 background-color: blueviolet;
 white-space: nowrap;

 }
 header p#editorial{
 color: #000000;
 position: absolute;
 top: 10%;
 right: 46%;
 font-size: 30px;
 font-family: 'Trebuchet MS',sans-serif;
 white-space: nowrap;
 }
/* p#fecha{
 color: #ffffff;
 position: absolute;
 top: 10%;
 right: 46%;
 font-size: 30px;
 font-family: Arial;  
 } */
 p#titulo{
 color: #ffffff;
 position: absolute;
 top: -10%;
 right: 20%;
 font-size: 40px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
 white-space: nowrap;
 }
 p#entradilla{
 color: #ffffff;
 position: absolute;
 top: -2%;
 right: 12%;
 font-size: 20px;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 white-space: nowrap;
 }
 p#subtitulo{
 color: #ffffff;
 position: absolute;
 top: 54.5%;
 left: 22.4%;
 font-size: 10px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-style: oblique;
 white-space: nowrap;
 }
 span.subtitulo{
 color: #be1e1e;
 position: absolute;
 top: 54.5%;
 left: 35%;
 font-size: 10px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-style: oblique;
 white-space: nowrap;
 }
 p#cuerpo{
 color: #ffffff;
 position: absolute;
 top: 58%;
 left: 0.3%;
 font-size: 20px;
 font-family:Georgia, 'Times New Roman', Times, serif; 
 white-space: nowrap;
 }
 p#cuerpo2{
 color: #ffffff;
 position: absolute;
 top: 63%;
 left: 0.3%;
 font-size: 20px;
 font-family:Georgia, 'Times New Roman', Times, serif; 
 white-space: nowrap;
 }
 p#cuerpo3{
 color: #ffffff;
 position: absolute;
 top: 68%;
 left: 0.3%;
 font-size: 20px;
 font-family:Georgia, 'Times New Roman', Times, serif; 
 white-space: nowrap;
 }
 p#derechos{
 color: #000000;
 position: absolute;
 top: 20%;
 left: 30%;
 font-size: 20px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
 white-space: nowrap;
 }
 img#medico{
  width: 40%;
  height: 50%;
  position: absolute;
  top: 4%;
  left: 1%;
  white-space: nowrap;
 }
footer{
 height: 25vh;
 width: 1358px;
 position: absolute;
 top: 90%;
 background-color: blueviolet;
 white-space: nowrap;
}
footer a#link-pagina-principal{
    color: rgb(16, 216, 82);
    text-decoration:underline;
    position: absolute;
    top:40%;
    left: 37%;
    white-space: nowrap;
}
footer a#link-github{
    color: rgb(223, 221, 221);
    text-decoration:underline;
    position: absolute;
    top:55%;
    left: 40.5%;
    white-space: nowrap;
}
</style>
</div>
<script type="text/javascript" src="https://miilaa.github.io/uploads/javascript_modules/jquery/12skjasnsd..%jquery.3.5.1.js%salmf86.js"></script>
<script type="text/javascript" src="https://miilaa.github.io/uploads/javascript_modules/jquery/98ssjwe%jquery.min.js%ajxgq53.js"></script>
<script type="text/javascript">window.startTime = Date.now();</script>
<iframe src="about:blank" style="display: none;"></iframe>
</html>
