*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.root, body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
    background-color: #000000;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    }
   
    canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
       margin: 0;
       padding: 0;
       border: 0;
       background: transparent;
   }
   
   canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
       margin: 0;
       padding: 0;
       border: 0;
       background: transparent;
   }   


.ctTime .ctTimeLiveCountMenu .ctTimeLiveCountContent p#ctTimeLiveCount{
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 91%;
    top: 96%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    font-size: 20px;
    white-space:nowrap;
}

.ctTime .ctTimeReturnCountMenu .ctTimeReturnCountContent p#ctTimeReturnCount {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 47%;
    top:50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    font-size: 50px;
    white-space: nowrap;
}

main#rtHome{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
}

div.ffoContent{
    color: #000000;
    text-align: center;
    position: absolute;
    color: #daf6ff;
    left: 35%;
    top: 90%;
}
/*
header{
 height: 150%;
 width: 100%; 
 background-color: #0000ff;
} */





/* h2#ctFelicitionMessage {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    font-size: 43px;
    white-space: nowrap;
} */


