*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          top: 7vh;
         }   
         .root, body, html{
             display: flex;
             flex-direction: column;
             height: 100%;
             position: relative;
             width: 100%;
            background-color: #000000;
         }
 header{
 height: 7.5vh;
 width: 1349.5px;
 position: absolute;
 top: -21.3%;
 background-color: blueviolet;
 white-space: nowrap;
 }
 header p#editorial{
 color: #000000;
 position: absolute; 
 top: 10%;
 right: 46%;
 font-size: 30px;
 font-family: 'Trebuchet MS',sans-serif;
 white-space: nowrap;
 }
/* p#fecha{
 color: #ffffff;
 position: absolute;
 top: 10%;
 right: 46%;
 font-size: 30px;
 font-family: Arial;  
 } */
 time#fecha{
 color: #ffffff;
 position: absolute; 
 top: -13%;
 right: 0.5%;
 font-size: 15px;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 white-space: nowrap;  
 }
 p#titulo{
 color: #ffffff;
 position: absolute;
 top: -10%;
 right: 20%;
 font-size: 40px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
 white-space: normal;
 }
 p#entradilla{
 color: #ffffff;
 position: absolute;
 top: -2%;
 right: 12%;
 font-size: 20px;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 white-space: normal;
 }
 p#subtitulo{
 color: #ffffff;
 position: absolute;
 top: 54.5%;
 left: 22.4%;
 font-size: 10px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-style: oblique;
 white-space: normal;
 }
 span.subtitulo{
 color: rgb(17, 247, 255);
 position: absolute;
 top: 54.5%;
 left: 35%;
 font-size: 10px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-style: oblique;
 white-space: nowrap;
 }
 p#cuerpo{
 color: #ffffff;
 position: absolute;
 top: 58%;
 left: 0.3%;
 font-size: 20px;
 font-family:Georgia, 'Times New Roman', Times, serif; 
 white-space: nowrap;
 }
 p#cuerpo2{
 color:#ffffff;
 position: absolute;
 top: 63%;
 left: 0.3%;
 font-size: 20px;
 font-family:Georgia, 'Times New Roman', Times, serif; 
 white-space: nowrap;
 }
 p#cuerpo3{
 color: #ffffff;
 position: absolute;
 top: 68%;
 left: 0.3%;
 font-size: 20px;
 font-family:Georgia, 'Times New Roman', Times, serif; 
 white-space: nowrap;
 }
 img#medico{
  width: 40%;
  height: 50%;
  position: absolute;
  top: 4%;
  left: 1%;
 }